* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App, html {
    background: hsl(0, 0%, 95%);
}
.container {
    width: 375px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}


@media only screen and (min-width: 1440px) {
    .container {
        width: 920px;
        display: flex;
        flex-direction: row;
    }
    
}

